body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 550px;
  width: 80%;
  margin: 40px auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

img {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

#display {
  text-align: left;
  font-size: 12px;
  /* position: absolute; */
  /* margin-top: 60px; */
}

/* button {
  position: absolute;
  margin: 50px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
} */
